h1 {
    font-size: 50px;
    color: red;
}

.container {
    text-align: center;
}

.drum {
    margin: 20px;
    padding: 50px;
    font-size: 50px;
    border-radius: 25px;
}

.w {
    background: url("images/tom1.png");
}

.a {
    background: url("images/tom2.png");
}

.s {
    background: url("images/tom3.png");
}

.d {
    background: url("images/tom4.png");
}

.j {
    background: url("images/crash.png");
}

.k {
    background: url("images/kick.png");
}

.l {
    background: url("images/snare.png");
}